/* 目前，所有页面的样式都放在这个文件中 */
html, body {
    height: 100%;
    overflow: hidden;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-inverse .mix-login {
    color: #fff;
}

.mix-wrapper {

    border-bottom: 0;
    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
    bottom: 200px;
    overflow: auto;
}
.mix-wrapper > .container {
    border: 1px solid #ccc;
    min-height: 100%;/* ie8可能会有问题 */
}

.mix-total-progress {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
h3 {
    margin-top: 0;
    font-family: '微软雅黑';
}
h3 + p {
    margin: 18px 0;
}
i.glyphicon {
    cursor: pointer;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}
caption {
    text-align: left;
    border: 1px solid #ccc;
    padding: 4px 8px;
    background-color: #eaeaea;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-top: 0;
    border-bottom-width: 1px;
    background-color: #ececec;
}
.form-horizontal .checkbox {
    margin-bottom: 10px;
}
.form-horizontal .checkbox input {
    margin-top: 2px;
}
.verifyInfo {
    padding: 8px 0 4px 24px;
    margin-left: -25px;
}
.verifyGood {
    color: #468847;
}
.verifyGood .form-control {
    border-color: #468847;
    color: #468847;
}
.verifyGood .form-control:focus {
    border-color: #356635;
    -webkit-box-shadow: 0 0 6px #7aba7b;
    -moz-box-shadow: 0 0 6px #7aba7b;
    box-shadow: 0 0 6px #7aba7b;
}
.verifyGood .verifyInfo {
    background: url(../img/valid.png) left 5px no-repeat;
}
.verifyShit {
    color: #b94a48;
}
.verifyShit .form-control {
    color: #b94a48;
    border-color: #b94a48;
}
.verifyShit .form-control:focus {
    border-color: #953b39;
    -webkit-box-shadow: 0 0 6px #d59392;
    -moz-box-shadow: 0 0 6px #d59392;
    box-shadow: 0 0 6px #d59392;
}
.verifyShit .verifyInfo {
    font-weight: bold;
    color: red;
    background: url(../img/error.png) left 5px no-repeat;
}


/* 总进度 */
.eom-breadcrumb {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}
.eom-breadcrumb li {
    float: left;
    width: 14.285714285%;
}
.eom-breadcrumb li a {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 8px 0;
    text-decoration: none;
    cursor: default;
}

.eom-breadcrumb .eom-complete + li a {
    background-color: #428bca;
    color: #fff;
}
.eom-breadcrumb li.eom-complete > a {
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
}
.eom-breadcrumb li.eom-complete > a:hover {
    background-color: #428bca;
    color: #fff;
}
.eom-breadcrumb > li + li:before {
    content: '';
    padding: 0;
    display: none;
}






/* home.html 首页 */
.mix-home-wrapper {
    padding: 20px 50px;
}







/* home.html 首页 */
.mix-step1-left, .mix-step1-right {
    padding: 15px;
}
.mix-step1-right {
    border-left: 1px solid #ccc;
}
.mix-step1-left .mix-btn-go {
    padding-top: 20px;
    text-align: center;
}

.mix-model-list {
    padding: 15px;
    border: 1px solid #ccc;
}
.mix-log {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}
.mix-log .panel-heading {
    border-radius: 0;
}
.mix-log .mix-btn-group span {
    cursor: pointer;
    margin-left: 10px;
}
.mix-log .panel-body {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 37px;
    bottom: 0;
    left: 0;
    right: 0;
}
.mix-install-tip .alert {
    margin-top: 10px;
}
.mix-install-tip .alert a {
    font-weight: normal;
}
/* createuser.html 第二步，创建您的用户和口令 */
.mix-createrule {
    border: 1px solid #ccc;
    padding: 10px;
}
.mix-createrule .mix-namerule {
    margin-bottom: 20px;
}

/* associateHost.html 第三步，关联主机信息 */
.mix-asothost .mix-ip > .col-md-3 {
    position: relative;
}
.mix-asothost .mix-ip > .col-md-3:after {
    content: ":";
    font-weight: bold;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 6px;
}
.mix-asothost .mix-ip > .col-md-3:first-child:after {
    display: none;
}
.mix-asothost .mix-addhost {
    text-align: center;
}
.mix-asothost .mix-addhost > .btn {
    outline: none;
}
.mix-asothost .mix-successset {
    text-align: center;
    padding-bottom: 40px;
}


/* deployment.html 第四步，安装和部署 */

.mix-deployment .mix-successset {
    text-align: center;
    padding-bottom: 40px;
}

/* initEvn.html 第五步，执行初始化 */
.mix-initEnv .progress {
    margin-bottom: 0;
}
.mix-initEnv .mix-subprogress > td {
    padding: 0;
}
.mix-initEnv .mix-subprogress .table {
    margin-bottom: 0;
}
.mix-initEnv .mix-subprogress .table td {
    border-top: 0;
    border-left: 1px solid #ddd;
}
.mix-initEnv .mix-subprogress .table td:first-child {
    border-left: 0;
}
.mix-initEnv .mix-subtable > td {
    padding: 0;
}
.mix-initEnv .mix-subtable .table td {
    padding-left: 25px;
}
.mix-initEnv .table caption {
    text-align: left;
    padding: 10px 0;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #f6f6f6;
}
.mix-subtable .table-striped > tbody > tr:nth-child(even) > td,
.mix-subtable .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #fcfcfc;
}
.table-striped > tbody > tr:hover > td,
.table-striped > tbody > tr:hover > th,
.mix-subtable .table-striped > tbody > tr:hover > td,
.mix-subtable .table-striped > tbody > tr:hover > th {
    background-color: #f1f1f1;
}