<div class="row mix-createuser">
    <div class="col-md-12">
        <div class="alert alert-warning">
            根据您的主机数，已推荐您搭建测试环境
            <a href="/home" class="alert-link pull-right">
                <i class="glyphicon glyphicon-share-alt"></i>
                返回重新选择搭建模式
            </a>
        </div>
        <h3>第二步，创建您的用户和口令</h3>
        <p>这个用户和口令将适用于全部主机</p>
        <div class="row">
            <div class="col-md-6">
                <form role="form">
                    <div class="form-group">
                       <label for="username">用户名</label>
                       <input type="text" class="form-control" id="username" placeholder="输入用户名">
                    </div>
                    <div class="form-group">
                        <label for="pass1">密码口令</label>
                        <input type="password" class="form-control" id="pass1" placeholder="输入密码口令">
                    </div>
                    <div class="form-group">
                        <label for="pass2">确认口令</label>
                        <input type="password" class="form-control" id="pass2" placeholder="确认口令">
                    </div>
                    <button type="submit" class="btn btn-success">创建完成</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="mix-createrule">
                    <h4>创建规则</h4>
                    <div class="mix-namerule">
                        <p>用户名</p>
                        <ol>
                            <li>支持字母、数字、和下划线</li>
                            <li>限制3-10个字符</li>
                        </ol>
                    </div>
                    <div class="mix-passrule">
                        <p>密码</p>
                        <ol>
                            <li>仅支持字母、数字</li>
                            <li>限制6-20个字符</li>
                            <li>巴拉巴拉</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>