<div class="row mix-deploy-config">
    <div class="com-md-12">
        <div class="mix-home-wrapper">
            <h3>部署配置参数列表</h3>
            <p>说明文字...</p>
            <table class="table table-bordered table-hover table-striped">
               <colgroup>
                   <col width="200">
                   <col width="200">
                   <col width="200">
                   <col width="200">
               </colgroup>
               <thead>
                   <tr>
                        <th>Value Type</th>
                        <th>value</th>
                        <th>Value Type</th>
                        <th>value</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                        <td>333</td>
                        <td>333</td>
                        <td>333</td>
                        <td>333</td>
                    </tr>
                    <tr>
                        <td>333</td>
                        <td>333</td>
                        <td>333</td>
                        <td>333</td>
                    </tr>
                    <tr>
                        <td>333</td>
                        <td>333</td>
                        <td>333</td>
                        <td>333</td>
                    </tr>
               </tbody>
             </table>
             <p class="clearfix">
                 <button class="btn btn-success btn-lg" ng-click="prevStep()">上一步</button>
                 <button class="btn btn-success btn-lg pull-right" ng-click="nextStep()">下一步</button>
             </p>
        </div>
    </div>
</div>