<div class="row mix-deployment">
    <div class="col-md-12">
        <div class="alert alert-warning mix-install-tip">
            您已完成4台主机设置...
            <a href="/associateHost" class="alert-link pull-right">
                <i class="glyphicon glyphicon-share-alt"></i>
                返回查看和修改主机
            </a>
        </div>
        <h3>第四步，安装和部署</h3>
        <p>这里写这部做什么...</p>
        <div class="row">
            <div class="col-md-12">
                <h4>安装列表</h4>
                <p><button type="submit" class="btn btn-primary">修改参数</button></p>
                <table class="table table-bordered table-hover table-striped table-condensed">
                    <colgroup>
                        <col width="40" />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>安装列表</th>
                            <th>是否已安装</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>JDK</td>
                            <td>&radic;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Zookeeper</td>
                            <td>&radic;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Agent</td>
                            <td>x</td>
                            <td>创建实例</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>数据库</td>
                            <td>x</td>
                            <td>创建实例</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Zookeeper</td>
                            <td>&radic;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Agent</td>
                            <td>x</td>
                            <td>创建实例</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>数据库</td>
                            <td>x</td>
                            <td>创建实例</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>部署列表</h4>
                <p><button type="submit" class="btn btn-primary">修改参数</button></p>
                <table class="table table-bordered table-hover table-striped table-condensed">
                    <colgroup>
                        <col width="40" />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>安装列表</th>
                            <th>是否已安装</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>JDK</td>
                            <td>&radic;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Zookeeper</td>
                            <td>&radic;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Agent</td>
                            <td>x</td>
                            <td>创建实例</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>数据库</td>
                            <td>x</td>
                            <td>创建实例</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Zookeeper</td>
                            <td>&radic;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Agent</td>
                            <td>x</td>
                            <td>创建实例</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>数据库</td>
                            <td>x</td>
                            <td>创建实例</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mix-successset">
                <button type="submit" class="btn btn-success btn-lg">完成安装和部署设置</button>
            </div>
        </div>
    </div>
</div>