<div class="row mix-step1">
    <div class="col-md-4 mix-step1-left">
        <h3>首先请输入您的主机数</h3>
        <p>
            将根据您的主机数帮你判定合适的搭建环境
        </p>
        <select class="form-control">
            <option>Combox 1</option>
            <option>Combox 2</option>
            <option>Combox 3</option>
            <option>Combox 4</option>
            <option>Combox 5</option>
        </select>
        <p class="mix-btn-go">
            <span type="button" class="btn btn-primary btn-lg" ng-click="submit()">Go</span>
        </p>
    </div>
    <div class="col-md-8 mix-step1-right">
        <h3>
            您也可以选择一个环境搭建模式直接开始
        </h3>
        <div class="row mix-select-model">
            <div class="col-md-6">
                <div class="mix-model-list">
                    <h4>生产环境模式</h4>
                    <div style="height:200px;background:#ccc">ddd</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mix-model-list">
                    <h4>测试环境模式</h4>
                    <div style="height:1200px;background:#ccc">ddd</div>
                </div>
            </div>
        </div>
    </div>
</div>
