<div class="row mix-home">
    <div class="com-md-12">
        <div class="mix-home-wrapper">
            <h3>主机列表</h3>
            <p>说明文字...</p>
            <table class="table table-bordered table-hover table-striped">
               <colgroup>
                   <col width="220">
                   <col width="220">
                   <col width="200">
                   <col width="50">
               </colgroup>
               <caption>
                   <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addHost" ng-click="resetHost()">添加</button>
                   <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#setUnifyUser">
                        <span class="glyphicon glyphicon-cog"></span>
                        {{canUseUnifyUser ? '修改统一口令' : '设置统一口令'}}
                   </button>
               </caption>
               <thead>
                   <tr>
                       <th>IP地址</th>
                       <th>域</th>
                       <th>用户</th>
                       <th>操作</th>
                   </tr>
               </thead>
               <tbody>
                   <tr ng-repeat="(i, h) in hosts | range: [page, hostPag.pageSize]">
                       <td>{{h.address}}</td>
                       <td>{{h.strdomain}}</td>
                       <td>{{h.user}}</td>
                       <td>
                       <i class="glyphicon glyphicon-edit" ng-click="checkHost((page-1) * hostPag.pageSize + i)"></i>
                           <i class="glyphicon glyphicon-edit" ng-click="editHost('#editHost', (page-1) * hostPag.pageSize + i)"></i>
                           <i class="glyphicon glyphicon-trash" ng-click="deleteHost((page-1) * hostPag.pageSize + i)"></i>
                       </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix" pagingbar="hostPag"></div>            
            <p class="clearfix">
                 <button class="btn btn-success btn-lg pull-right" ng-click="nextStep()">下一步</button>
             </p>
        </div>
    </div>
</div>


<!-- 添加主机 -->
<div id="addHost" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">添加主机</h4>
            </div>
            
            <div class="modal-body">
                <form name="addHostForm" id="addHostForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="addHostIp" class="col-md-2 control-label">IP 地址:</label>
                        <div class="col-md-5">
                            <input type="text" id="addHostIp" name="addHostIp" class="form-control"
                                    placeholder="Enter like: 127.0.0.1"
                                    ng-model="addIp.val"
                                    required
                                    ng-pattern ="addIp.re"
                                    ng-blur="addIp.blur(addHostForm.addHostIp.$valid, addHostForm.addHostIp.$error)"
                                    ng-keyup="addIp.keyup(addHostForm.addHostIp.$valid, addHostForm.addHostIp.$error)"
                                    >
                        </div>
                        <div class="col-md-5">
                            <div class="verifyInfo" ng-show="addIp.blank">请输入IP！</div>
                            <div class="verifyInfo" ng-show="addIp.mismatch">请输入正确的IP！</div>
                            <div class="verifyInfo" ng-show="addIp.validity">&nbsp;</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="addHostField" class="col-md-2 control-label">域:</label>
                        <div class="col-md-5">
                            <select name="addHostField" id="addHostField" class="form-control"
                                    ng-model="addField.val"
                                    ng-options="v.value as v.label for v in fieldList"
                                    required
                                    ng-blur="addField.blur(addHostForm.addHostField.$valid)"
                                    ng-change="addField.change(addHostForm.addHostField.$valid)"
                                    >
                                <option value="" disabled> -- Choose Field -- </option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <div class="verifyInfo" ng-show="addField.blank">请选择域！</div>
                            <div class="verifyInfo" ng-show="addField.validity">&nbsp;</div>
                        </div>
                    </div>

                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="useUnifyUser" ng-disabled="!canUseUnifyUser" ng-model="useUnifyUser"> {{canUseUnifyUser ? '使用统一口令' : '你还未设置统一口令'}} 
                            </label>
                        </div>
                    </div>

                    <div ng-show="!useUnifyUser">
                        <div class="form-group">
                            <label for="addHostUser" class="col-md-2 control-label">用户名:</label>
                            <div class="col-md-5">
                                <input type="text" name="addHostUser" id="addHostUser" class="form-control"
                                        placeholder="Type the username"
                                        ng-model="addUser.val"
                                        required
                                        ng-pattern="addUser.re"
                                        ng-blur="addUser.blur(addHostForm.addHostUser.$valid, addHostForm.addHostUser.$error)"
                                        ng-keyup="addUser.keyup(addHostForm.addHostUser.$valid, addHostForm.addHostUser.$error)"
                                        >
                            </div>
                            <div class="col-md-5">
                                <div class="verifyInfo" ng-show="addUser.blank">你需要一个用户名！</div>
                                <div class="verifyInfo" ng-show="addUser.mismatch">用户名为3-10个字母、数字和下划线的组合！</div>
                                <div class="verifyInfo" ng-show="addUser.validity">&nbsp;</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="addHostCmd" class="col-md-2 control-label">口令:</label>
                            <div class="col-md-5">
                                <input type="{{addCmd.showChar ? 'text' : 'password'}}" name="addHostCmd" id="addHostCmd" class="form-control"
                                        placeholder="Type the password"
                                        ng-model="addCmd.val"
                                        required
                                        ng-pattern="addCmd.re"
                                        ng-blur="addCmd.blur(addHostForm.addHostCmd.$valid, addHostForm.addHostCmd.$error)"
                                        ng-keyup="addCmd.keyup(addHostForm.addHostCmd.$valid, addHostForm.addHostCmd.$error)"
                                        >
                            </div>
                            <div class="col-md-5">
                                <div class="verifyInfo" ng-show="addCmd.blank">你需要一个口令！</div>
                                <div class="verifyInfo" ng-show="addCmd.mismatch">口令由6-20个字符的字母和数字组成！</div>
                                <div class="verifyInfo" ng-show="addCmd.validity">&nbsp;</div>
                            </div>
                        </div>

                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="addCmd.showChar"> 显示字符
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="submitHost('#addHost')">保存</button>
            </div>
        </div>
    </div> 
</div>

<!-- 修改主机信息 -->
<div id="editHost" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">修改主机信息</h4>
            </div>
            
            <div class="modal-body">
                <form name="editHostForm" id="editHostForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="editHostIp" class="col-md-2 control-label">IP 地址:</label>
                        <div class="col-md-5">
                            <input type="text" id="editHostIp" name="editHostIp" class="form-control"
                                    placeholder="Enter like: 127.0.0.1"
                                    ng-model="editIp.val"
                                    required
                                    ng-pattern ="editIp.re"
                                    ng-blur="editIp.blur(editHostForm.editHostIp.$valid, editHostForm.editHostIp.$error)"
                                    ng-keyup="editIp.keyup(editHostForm.editHostIp.$valid, editHostForm.editHostIp.$error)"
                                    >
                        </div>
                        <div class="col-md-5">
                            <div class="verifyInfo" ng-show="editIp.blank">请输入IP！</div>
                            <div class="verifyInfo" ng-show="editIp.mismatch">请输入正确的IP！</div>
                            <div class="verifyInfo" ng-show="editIp.validity">&nbsp;</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editHostField" class="col-md-2 control-label">域:</label>
                        <div class="col-md-5">
                            <select name="editHostField" id="editHostField" class="form-control"
                                    ng-model="editField.val"
                                    ng-options="v.value as v.label for v in fieldList"
                                    required
                                    ng-blur="editField.blur(editHostForm.editHostField.$valid)"
                                    ng-change="editField.change(editHostForm.editHostField.$valid)"
                                    >
                                <option value="" disabled> -- Choose Field -- </option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <div class="verifyInfo" ng-show="editField.blank">请选择域！</div>
                            <div class="verifyInfo" ng-show="editField.validity">&nbsp;</div>
                        </div>
                    </div>

                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="useUnifyUser" ng-disabled="!canUseUnifyUser" ng-model="useUnifyUser"> {{canUseUnifyUser ? '使用统一口令' : '你还未设置统一口令'}} 
                            </label>
                        </div>
                    </div>

                    <div ng-show="!useUnifyUser">
                        <div class="form-group">
                            <label for="editHostUser" class="col-md-2 control-label">用户名:</label>
                            <div class="col-md-5">
                                <input type="text" name="editHostUser" id="editHostUser" class="form-control"
                                        placeholder="Type the username"
                                        ng-model="editUser.val"
                                        required
                                        ng-pattern="editUser.re"
                                        ng-blur="editUser.blur(editHostForm.editHostUser.$valid, editHostForm.editHostUser.$error)"
                                        ng-keyup="editUser.keyup(editHostForm.editHostUser.$valid, editHostForm.editHostUser.$error)"
                                        >
                            </div>
                            <div class="col-md-5">
                                <div class="verifyInfo" ng-show="editUser.blank">你需要一个用户名！</div>
                                <div class="verifyInfo" ng-show="editUser.mismatch">用户名为3-10个字母、数字和下划线的组合！</div>
                                <div class="verifyInfo" ng-show="editUser.validity">&nbsp;</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="editHostCmd" class="col-md-2 control-label">口令:</label>
                            <div class="col-md-5">
                                <input type="{{editCmd.showChar ? 'text' : 'password'}}" name="editHostCmd" id="editHostCmd" class="form-control"
                                        placeholder="Type the password"
                                        ng-model="editCmd.val"
                                        required
                                        ng-pattern="editCmd.re"
                                        ng-blur="editCmd.blur(editHostForm.editHostCmd.$valid, editHostForm.editHostCmd.$error)"
                                        ng-keyup="editCmd.keyup(editHostForm.editHostCmd.$valid, editHostForm.editHostCmd.$error)"
                                        >
                            </div>
                            <div class="col-md-5">
                                <div class="verifyInfo" ng-show="editCmd.blank">你需要一个口令！</div>
                                <div class="verifyInfo" ng-show="editCmd.mismatch">口令由6-20个字符的字母和数字组成！</div>
                                <div class="verifyInfo" ng-show="editCmd.validity">&nbsp;</div>
                            </div>
                        </div>

                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="editCmd.showChar"> 显示字符
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary"ng-click="submitEdit('#editHost')">保存</button>
            </div>
        </div>
    </div> 
</div>

<!-- 设置统一口令 -->
<div id="setUnifyUser" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">设置统一口令</h4>
            </div>
            
            <div class="modal-body">
                <form name="setUnifyUserForm" id="setUnifyUserForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="unifyUserUser" class="col-md-2 control-label">用户名:</label>
                        <div class="col-md-5">
                            <input type="text" name="unifyUserUser" id="unifyUserUser" class="form-control"
                                    placeholder="Type the username"
                                    ng-model="unifyUser.val"
                                    required
                                    ng-pattern="unifyUser.re"
                                    ng-blur="unifyUser.blur(setUnifyUserForm.unifyUserUser.$valid, setUnifyUserForm.unifyUserUser.$error)"
                                    ng-keyup="unifyUser.keyup(setUnifyUserForm.unifyUserUser.$valid, setUnifyUserForm.unifyUserUser.$error)"
                                    >
                        </div>
                        <div class="col-md-5">
                            <div class="verifyInfo" ng-show="unifyUser.blank">你需要一个用户名！</div>
                            <div class="verifyInfo" ng-show="unifyUser.mismatch">用户名为3-10个字母、数字和下划线的组合！</div>
                            <div class="verifyInfo" ng-show="unifyUser.validity">&nbsp;</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="unifyUserCmd" class="col-md-2 control-label">口令:</label>
                        <div class="col-md-5">
                            <input type="{{unifyCmd.showChar ? 'text' : 'password'}}" name="unifyUserCmd" id="unifyUserCmd" class="form-control"
                                    placeholder="Type the password"
                                    ng-model="unifyCmd.val"
                                    required
                                    ng-pattern="unifyCmd.re"
                                    ng-blur="unifyCmd.blur(setUnifyUserForm.unifyUserCmd.$valid, setUnifyUserForm.unifyUserCmd.$error)"
                                    ng-keyup="unifyCmd.keyup(setUnifyUserForm.unifyUserCmd.$valid, setUnifyUserForm.unifyUserCmd.$error)"
                                    >
                        </div>
                        <div class="col-md-5">
                            <div class="verifyInfo" ng-show="unifyCmd.blank">你需要一个口令！</div>
                            <div class="verifyInfo" ng-show="unifyCmd.mismatch">口令由6-20个字符的字母和数字组成！</div>
                            <div class="verifyInfo" ng-show="unifyCmd.validity">&nbsp;</div>
                        </div>
                    </div>

                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="unifyCmd.showChar"> 显示字符
                            </label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetUnifyUser()">取消</button>
                <button type="button" class="btn btn-primary"ng-click="submitUnifyUser('#setUnifyUser')">保存</button>
            </div>
        </div>
    </div> 
</div>