<div class="row mix-initEnv">
    <div class="col-md-12">
        <div class="alert alert-warning mix-install-tip">
            您已完成安装和部署设置,balabala...
            <a href="/cerateUser" class="alert-link pull-right">
                <i class="glyphicon glyphicon-share-alt"></i>
                返回查看和修改部署
            </a>
        </div>
        <h3>您已成功完成设置，点击开始初始化<button class="btn btn-success btn-lg">Start</button></h3>
        <p>
            
        </p>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover table-striped">
                    <caption>
                        初始化详情
                        <span class="pull-right">
                            <small>
                                <b>已用时间：</b>
                                3分钟
                                &nbsp;&nbsp;
                                <b>预计剩余时间：</b>
                                6分钟
                            </small>
                        </span>
                    </caption>
                    <colgroup>
                        <col width="220"/>
                        <col />
                        <col width="150" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>进度</th>
                            <th>剩余时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>安装JDK</td>
                            <td>完成</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>初始化JDK</td>
                            <td>完成</td>
                            <td>0</td>
                        </tr>
                        <tr class="mix-subprogress">
                            <td colspan="3">
                                <table class="table table-hover table-striped">
                                    <colgroup>
                                        <col width="220"/>
                                        <col />
                                        <col width="150" />
                                    </colgroup>  
                                    <body>
                                        <tr>
                                            <td>安装ZooKeeper</td>
                                            <td>
                                                <div class="progress progress-striped active">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                        <span class="sr-only">40% Complete (success)</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>2分钟</td> 
                                        </tr>
                                        <tr class="mix-subtable">
                                            <td colspan="3">
                                                <table class="table table-hover table-striped">
                                                    <colgroup>
                                                        <col width="220"/>
                                                        <col />
                                                        <col width="150" />
                                                    </colgroup> 
                                                    <tbody>
                                                        <tr>
                                                            <td>&bull; sub-progress-01</td>
                                                            <td>
                                                                <div class="progress progress-striped active">
                                                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                                        <span>100% Complete (success)</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>timeeeeeeeee</td>
                                                        </tr>
                                                        <tr>
                                                            <td>&bull; sub-progress-01</td>
                                                            <td>
                                                                <div class="progress progress-striped active">
                                                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                                        <span>40% Complete (success)</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>timeeeeeeeee</td>
                                                        </tr>
                                                        <tr>
                                                            <td>&bull; sub-progress-01</td>
                                                            <td>
                                                                <div class="progress progress-striped active">
                                                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                                        <span>ddd</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>timeeeeeeeee</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </body>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>安装Agent</td>
                            <td>准备中...</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>item1</td>
                            <td>item2</td>
                            <td>item3</td>
                        </tr>
                    </tbody>
                  </table>
                <p class="clearfix">
                    <button class="btn btn-success btn-lg" ng-click="prevStep()">上一步</button>
                    <button type="button" class="btn btn-primary btn-lg pull-right">完成</button>
                </p>
            </div>
        </div>
    </div>
</div>