

        <!-- 日志显示 -->
        <div class="panel panel-default mix-log" style="height: 200px;">
            <div class="panel-heading">
                日志信息
                <span class="mix-btn-group pull-right">
                    <span class="glyphicon glyphicon-fullscreen"></span>
                    <span class="glyphicon glyphicon-minus"></span>
                </span>
            </div>
            <div class="panel-body">
               <div>
                    logggggggggggggggggggg
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
                   <p>dsfsdfsdf</p>
               </div>
            </div>
        </div>

        <!-- <footer class="container">
            <p class="pull-right">&copy; Company 2013</p>
        </footer> -->
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/jqBootstrapValidation.js"></script>
        <script src="/js/angular.js"></script>
        <script src="/js/angular-route.js"></script>
        <script src="/js/modules/app.js"></script>
    </body>
</html>