<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#">EOM</a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Settings</a></li>
                <li><a href="#about">install</a></li>
                <li><a href="#contact">automatic test</a></li>
                <li><a href="#contact">Execute</a></li>
                <li><a href="#contact">Report</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Tools <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
            <p class="navbar-text pull-right">
                Logged in as
                <a href="#" class="mix-login">Username</a>
            </p>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>