<!DOCTYPE html>
<html lang="en">
<script src="/socket.io/socket.io.js"></script>
<head>
<%include framework/head.ejs%>
</head>
<body onLoad="init();">
<%include framework/console.ejs%>
<%include framework/bottom.ejs%>
<%include framework/end.ejs%>
</body>
</html>
