<%include framework/head.ejs%>
<%include framework/header.ejs%>


<div class="mix-wrapper" style="bottom: 200px">
    <div class="container">
        <ol class="breadcrumb" ng-controller="breadcrumbController">
            <li>
                <a ng-href="#/home" class="{{breadcrumb['/home']}}">
                    1. 创建环境搭建模式
                </a>
            </li>
            <li>
                <a ng-href="#/createUser" class="{{breadcrumb['/createUser']}}">
                    2. 创建用户和口令
                </a>
            </li>
            <li>
                <a ng-href="#/associateHost" class="{{breadcrumb['/associateHost']}}">
                    3. 关联主机信息
                </a>
            </li>
            <li>
                <a ng-href="#/deployment" class="{{breadcrumb['/deployment']}}">
                    4. 安装和部署
                </a>
            </li>
            <li>
                <a ng-href="#/initEnv" class="{{breadcrumb['/initEnv']}}">
                    5. 执行初始化
                </a>
            </li>
        </ol>
        <div ng-view></div>
    </div>
</div>

<%include framework/foot.ejs%>






