<%include framework/head.ejs%>
<%include framework/header.ejs%>


<div class="mix-wrapper" style="bottom: 200px">
    <div class="container">
        <ol class="breadcrumb eom-breadcrumb clearfix" ng-controller="breadcrumbController">
            <li class="{{breadcrumb['/home']}}">
                <a ng-href="#/home">
                    1. 设置主机
                </a>
            </li>
            <li class="{{breadcrumb['/setDatabase']}}">
                <a ng-href="#/setDatabase">
                    2. 设置数据库
                </a>
            </li>
            <li class="{{breadcrumb['/setWebServer']}}">
                <a ng-href="#/setWebServer">
                    3. 设置Web服务器
                </a>
            </li>
            <li class="{{breadcrumb['/deployConfig']}}">
                <a ng-href="#/deployConfig">
                    4. 部署配置
                </a>
            </li>
            <li class="{{breadcrumb['/deployServer']}}">
                <a ng-href="#/deployServer">
                    5. 部署服务
                </a>
            </li>
            <li class="{{breadcrumb['/initScript']}}">
                <a ng-href="#/initScript">
                    6. 初始化脚本
                </a>
            </li>
            <li class="{{breadcrumb['/initEnv']}}">
                <a ng-href="#/initEnv">
                    7. 执行初始化
                </a>
            </li>
        </ol>
        <div ng-view></div>
    </div>
</div>

<%include framework/foot.ejs%>






